body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
}

#container {
    font-size: 20px;
    text-align: center;
}

#timeContainer {
    width: 180px;
    height: 55px;
    border-radius: 10px;
    background-color: #FFA500;
    display: flex;
    align-items: center;
    justify-content: center;
}

#time {
    font-size: 24px;
    letter-spacing: 5px;
}

p {
    color: white;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
}